.array-sorter {
  &__body {
    background-color: red;
    padding-left: 40px;
    padding-top: 20px;

    * {
      border-radius: 20px;
      margin-top: 10px;
    }
  }
  &__header {
    margin-left: -40px;
    font-size: 4rem;
    color: white;
  }
  &__data {
    font-size: 3rem;
    input {
      color: white;
      background-color: red;
      border: 4px solid white;
    }
  }
  &__sort-type {
    font-size: 3rem;
    color: red;
    select {
      color: white;
      background-color: red;
      border: 2px solid white;
    }
  }
  &__executer {
    button {
      border: 2px solid white;
      font-size: 3rem;
      color: white;
      background-color: red;

      text-transform: uppercase;
    }
  }
}
