.act2__header{
    font-size: 28px;
    letter-spacing: 1px;
    color: #454855;
    font-weight: 700;
    font-family: "Source Sans Pro";
}
.act2__subtitle{
    font-size: 18px;
    letter-spacing: 1px;
    color: #828282;
    font-weight: 300;
    font-family: "Source Sans Pro";
}

.act2__main{
    margin-top: 45px;
}

.act2__quiz{
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #e6e6e6;
    width: fit-content;
}

.quiz__title{
    padding: 0 0 0 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Sans Pro";

    height: 40px;
    width: 460px;
    filter: drop-shadow(0 0 2.5px rgba(0,0,0,0.12));
    background-color: #3b3e4a;
}

.quiz__row1{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    flex-direction: row;
    width: 500px;
}
.quiz__butt{
    height: 40px;
    width: 40px;
    background-color: #03a8cb;
    border: none;
    border-top-right-radius: inherit;
    padding: 0;
}
.quiz__butt-font{
    font-size: 34px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Source Sans Pro";
}
.quiz__text{
    padding: 20px 0 10px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #828282;
    font-weight: 400;
    font-family: "Source Sans Pro";
    max-width: 490px;
}

.question-block{
    margin-top: 10px;
    padding: 0;

    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;

    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.question-block > input{
    padding-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #828282;
    font-weight: 400;
    font-family: "Source Sans Pro";
    width: 400px;
    border: 0;
}
.question-block > button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #03a8cb;
    border: 0;

    color: white;

}

@media all and (max-width: 600px){
    .act2__header{
        font-size: 28px;
        letter-spacing: 1px;
        color: #454855;
        font-weight: 700;
        font-family: "Source Sans Pro";
    }
    .act2__subtitle{
        font-size: 18px;
        letter-spacing: 1px;
        color: #828282;
        font-weight: 300;
        font-family: "Source Sans Pro";
    }

    .act2__quiz{
        border-radius: 5px;
        background-color: #f0f0f0;
        border: 1px solid #e6e6e6;
        width: fit-content;
    }

    .quiz__title{
        padding: 0 0 0 10px;
        font-size: 16px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Source Sans Pro";

        height: 40px;
        width: 230px;
        filter: drop-shadow(0 0 2.5px rgba(0,0,0,0.12));
        background-color: #3b3e4a;
    }

    .quiz__row1{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        display: flex;
        flex-direction: row;
        width: 270px;
    }
    .quiz__butt{
        height: 40px;
        width: 40px;
        background-color: #03a8cb;
        border: none;
        border-top-right-radius: inherit;
        padding: 0;
    }
    .quiz__butt-font{
        font-size: 34px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Source Sans Pro";
    }
    .quiz__text{
        padding: 20px 0 10px 10px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #828282;
        font-weight: 400;
        font-family: "Source Sans Pro";
        max-width: 260px;
    }

    .question-block{
        margin-top: 10px;
        padding: 0;

        height: 30px;
        border-radius: 5px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;

        width: 270px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .question-block>input{
        padding-left: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        color: #828282;
        font-weight: 400;
        font-family: "Source Sans Pro";
        width: 240px;
        border: 0;
    }
    .question-block>button{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #03a8cb;
        border: 0;

    }
}

@media all and (max-width: 1180px) {
    .act2__main{
        margin-top: 20px;
    }
}
