.painted-link {
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease-in-out;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    color: #20d629;
    font-weight: 400;
    transition: 0.5s;
    content: attr(data-item-content);
  }

  &:hover {
    color: #05f4b7;
    text-decoration: none;
  }
}
