@import "../../variables.scss";

$separator-bg-color: #825b00 !default;
$radiant-color: #dcdcdc !default;
.short-ad {
  display: flex;
  width: 450px;
  padding: 5px;
  font-size: 1rem;
  //background-color: $short-ad-bg-color;
  background-color: #022a53;
  border: 0;
  border-radius: 20px;
  &__aside {
    width: fit-content;
    padding: 10px;
    padding-top: 10px;
    //background-color: #1FC58E;
    background-color:  #001730;
    border-radius: inherit;
  }
  &__account-avatar{
    margin: 0 auto;
    width: 60px;
    height: 60px;
  }
  &__main {
    border-radius: 20px;
    padding: 20px;
    background-color:  $short-ad-bg-color;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 40px;
    padding-bottom: 40px;
  }
  &__date {
    margin-top: 0;
    padding-top: 0;
    color: $radiant-color;
  }
  &__type {
    color: $radiant-color;
  }
  &__title {
    margin-bottom: 0;
    color: white;
    border-bottom: 1px solid $separator-bg-color;
  }
  &__discription {
    margin-top: 5px;
    color: black;
    font-size: 1.4rem;
    border-top: 1px solid $separator-bg-color;
    border-bottom: 1px solid $separator-bg-color;
  }
  &__more {
    position: absolute;
    bottom: 4px;
    right: 40px;
    font-size: 1rem;
    button {
      cursor: pointer;
      color: $more-btn-color;
      background-color: #001730;
      border: 0;
      padding: 2px 8px 6px 8px;
      border-radius: 10px;
      &:hover {
        color: #05f4b7;
      }
    }
  }
}
