@mixin prity-bg {
  background-color: #676ffe;
  border-radius: 20px;
  box-shadow: 4px 4px 70px 10px #9197fe;
}

@mixin transition-all-15 {
  transition: all 1.5s;
}

@mixin submit-btn {
  background-color: #1d2445;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s 0s ease-in-out;
  &:active {
    background-color: #1d2445;
  }
  &:hover {
    color: #22b573;
    box-shadow: 0 0 120px 220px #1d2445;
  }
}
