$dark-blue: #1d2445;
$purple-blue-light: #676ffe;
$purple-blue: #9197fe;
$green: #90dab9;
$dark-green: #22b573;
$neon: #05f4b7;

$background-color: #edb021 !default;

$loader-bg-color: #676ffe !default;
$loader-shdow-color: #9197fe !default;

$nav-bar-background-color: #001730 !default;
$app-background-color: white !default;

$doropdowb-menu-bg-color: #001730 !default;

$btn-bg: #825b00 !default;

$account-form-bg-color: #676ffe !default;

$submit-btn-bg: #1d2445 !default;
$submit-btn-color: #22b573 !default;

$logout-btn-bg: #825b00 !default;
$logout-btn-color: white !default;

$input-invalid-bg-color: lightpink !default;
$input-valid-bg-color: rgb(232, 240, 254) !default;
$input-valid-color: #1c222a !default;

$more-btn-bg-color: #825b00 !default;
$more-btn-color: white !default;

$account-info-bg-color: #90dab9 !default;

$ad-bg-color: #022a53 !default;
$ad-neon: #05f4b7 !default;
$ad-form-bg-color: #676ffe !default;
$ad-form-btn-gb-color: #001730 !default;

//$ad-main-bg-color: #edb021!default;
$ad-main-bg-color: #001730 !default;
$ad-main-btn-border-color: #05f4b7 !default;

$chat-message-bg-color: white !default;
$chat-list-bg-color: #90dab9 !default;
$chat-list-messages-bg-color: #9197fe !default;
$chat-list__item-bg-color: #9197fe !default;
$chat-list__item--selected-bg-color: #676ffe !default;

$sign-form-bg-color: #676ffe !default;
$sign-form-shadow-color: #9197fe !default;

$profile-inf-bg-color: #676ffe !default;
$profile-inf-shadow-color: #9197fe !default;
