.logo{
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.logo__img{
    border-radius: 100px;
    border: 3px solid rgb(3, 168, 203);
    width: 100px;
    height: 100px;
}
.logo__name{
    margin-bottom: 0;
    letter-spacing: 5px;
    font-size: 50px;
}
.logo__description{
    margin-top: 0;
    font-weight: 100;
    color: rgb(59, 62, 74, 0.5);
    font-size: 25px;
}