#quiz{
    display: grid;
    grid-template-columns: 95%;
    grid-template-areas: 
    "tex1 but"
    "tex2 tex2";
}
.quiz-grid > .quiz__span1{
    grid-area: tex1;
    background-color: black;
    color: white;
    padding: 4px;
    padding-left: 20px;
}
.quiz-grid > button{
    grid-area: but;
}
.quiz-grid > .quiz__span2{
    grid-area: tex2;
    padding: 4px;
    padding-left: 20px;
    background-color: lightgrey;
}