.main__articles{
    width: auto;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.main__articles div{
    border: 1px solid rgb(230, 230, 230);
    width: 270px;
}

.article__action{
    margin-top: 23px;
    margin-bottom: 33px;
}

.article__header{
    font-size: 18px;
    letter-spacing: 1px;
    color: #3b3e4a;
    font-weight: 700;
    font-family: "Source Sans Pro";
}

.article__text{
    word-wrap: break-word;
    width: 229px;
    height: 74px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 23px;
    color: #828282;
    font-weight: 400;
    font-family: "Source Sans Pro";
}

.article__button__text{
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Source Sans Pro";
}