@import "shared/mixins.scss";

.img-uploader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  height: 300px;
  padding: 5px;
  overflow: hidden;
  @include prity-bg;
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    content: " ";
  }
  &__submit {
    box-sizing: border-box;
    width: fit-content;
    margin-top: 30px;
    padding: 1px 10px 4px;
    color: white;
    font-size: 2rem;
    @include submit-btn;
  }
  &__preview {
    margin-right: 15px;
  }
  &__preimg {
    width: 230px;
    height: 230px;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 50% !important;
  }
}
