.tasks {
    padding-left: 4%;
    font-size: 4rem;
    color: red;
}

.header {
    font-size: 4rem;
    color: red;
}

.subheader {
    font-size: 3rem;
    color: red;
}

* {
    font-size: 90%;
}

.data-input {
  font-size: 3rem;
  color: red;
}
