.authorized-container {
  position: relative;
}
.dropdown-item {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  padding: 0 5px;
  position: relative;
  background-color: inherit;
  &__menu {
    width: inherit;
  }
  &:hover,
  &:focus {
    background-color: inherit !important;
  }
}
.logout-part-of-nav {
  width: 75%;
  font-size: 1rem;
}
.avatar--mini {
  width: 30px;
  height: 30px;
}
.profile {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
