@import "shared/variables.scss";
@import "shared/mixins.scss";

.profile {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  &__img-bg {
    position: relative;
    left: -70%;
    &-wrapper {
      position: absolute;
      top: 100px;
      left: 50%;
      z-index: -1;
    }
  }
  &__inf {
    position: relative;
    align-self: flex-start;
    margin-right: 20px;
    padding: 10px;

    overflow-x: hidden;
    overflow-y: hidden;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: $profile-inf-bg-color;
    border-radius: 12px;
    box-shadow: 4px 4px 70px 10px $profile-inf-shadow-color;
  }
  &__ads {
    min-width: 1050px;
    min-height: 580px;
    margin-top: -10px;
  }
  &__edit-btn {
    margin-left: 75%;
    padding: 2px 8px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: black;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      font-size: 150%;
      background-color: transparent;
    }
  }
  &__chat-btn {
    margin-top: 5px;
    padding: 1px 5px;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border: 1px solid #05f4b7;
    border-radius: inherit;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      color: black;
      font-size: 150%;
      background-color: transparent;
      border: 0;
      box-shadow: 0 0 200px 250px #676ffe;
    }
  }
  &__open-btn-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__open-btn {
    position: relative;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50% !important;
    outline: none;
    cursor: pointer;
    @include prity-bg;
    div {
      position: absolute;
      top: -5px;
      left: 5px;
      color: white;
      font-size: 2rem;
    }
  }
}
