@import "../shared/variables.scss";

.ad {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__aside {
    margin-right: 40px;
  }
  &__main {
    width: 700px;
    padding: 5px;
    color: white;
    background-color: $ad-main-bg-color;
    border-radius: 5px;
  }
}

.ad-main {
  font-size: 1.4rem;
  &__title {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #6a655d;
  }
  &__type {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 1px solid #6a655d;
  }
  &__description {
    margin: 5px;
    padding: 2px;
    word-wrap: break-word;
    border: 1px dashed #6a655d;
  }
  &__auth {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    padding: 1px 7px;
  }
}
