@import "../shared/variables.scss";
.nav-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 10px;
}

.menu {
  width: 600px;
  padding: 5px 20px;
  background: $nav-bar-background-color;
  border-radius: 80px;
  &__items {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
  }
  &__item {
    margin: 10px;
    &--devider {
      flex: 1 1;
      border: 0;
    }
    &--unauthorized {
      display: flex;
      flex-direction: column;
    }
  }
}
