@import "../../variables.scss";

.input-box {
  height: 100%;
  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4px 20px 0;
    color: $input-valid-color;
    font-size: 18px;
    background-color: $input-valid-bg-color !important;
    border: 0;
    border-radius: 12px;
    outline: 0;
    &:invalid {
      color: black;
      background-color: $input-invalid-bg-color !important;
    }
  }
}

.password-control {
  position: absolute;
  top: 15px;
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
  background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
