@import "~normalize.css/normalize";

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-decoration: none;
  background-color: transparent;
  outline: none;
}
li {
  list-style: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  max-width: 1500px;
  min-height: 100%;
  margin: 0 auto;
  font-size: 100%;
}

.toastr {
  font-size: 1rem;
}

#root {
  height: 100%;
}

.display-none {
  display: none;
}

.max-h0 {
  max-height: 0 !important;
}

.vis-hidden {
  visibility: hidden;
}

.pos-abs {
  position: absolute;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.alogn-center {
  align-content: center;
}

.opas-1 {
  opacity: 1 !important;
}
