* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
  outline: none;
}
code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  font: inherit;
  font-size: 1rem;
  white-space: normal;
}
dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}
th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td,
center {
  text-align: left;
  vertical-align: top;
}
body {
  color: black;
  line-height: 1;
  background: white;
}
q {
  quotes: "" "";
}
ul,
ol,
dir,
menu {
  list-style: none;
}
sub,
sup {
  vertical-align: baseline;
}
a {
  color: inherit;
}
hr {
  display: none;
} /* we don't need a visual hr in layout */

/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  color: inherit !important;
  font: inherit !important;
}
marquee {
  overflow: inherit !important;
  -moz-binding: none;
}
blink {
  text-decoration: none;
}
nobr {
  white-space: normal;
}
