@import "../shared/variables.scss";
.ad-editor{
  display: flex;
  align-items: center;
  position: relative;

  &__form {
    height: fit-content;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $sign-form-bg-color;
    border-radius: 20px;
    box-shadow: 4px 4px 70px 10px $sign-form-shadow-color;
    transition: 1.5s;
    left: -50%;
    position: relative;
  }
  &__img-bg-wrapper {
    position: absolute;
    top: 100px;
    left: 50%;
  }
  &__img-bg {
    position: relative;
    left: -20%;
    z-index: -1;
  }
}
