.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__inf {
    margin-right: 70px;
    align-self: flex-start;
    font-size: 1.5rem;
  }
  &__ads {
    margin-top: -10px;
  }
}
