@import "./shared/variables.scss";
body {
  font-size: 62.5%;
  background-color: $app-background-color;
}

.main {
  display: flex;
  align-content: center;
  justify-content: center;
  height: inherit;
}

.my-btn {
  color: white;
  background-color: $btn-bg;
  border-radius: 10px;
}
