@import "../../../shared/variables.scss";

.message-box {
  width: 100%;
  height: inherit;
  padding: 20px;
  font-size: 1rem;
  ::-webkit-scrollbar {
    /* chrome based */
    width: 0px; /* ширина scrollbar'a */
    background: transparent; /* опционально */
  }
  &__message-list {
    height: 400px;
    padding: 20px 10px;
    overflow-y: scroll;
    //background-color: #676ffe;
    //border-radius: 10px;
    //box-shadow: inset 0 0 2px;
  }

  &__controls {
    display: flex;
    align-content: center;
    margin-top: 10px;
    padding: 0 10px;
  }
  &__input {
    margin-top: 3px;
    height: 30px;
    border-radius: 12px;
    border: 0;
    line-height: 1rem;
    padding: 8px 8px 0 8px;
    flex-grow: 1;
    background: white;
  }
  &__send {
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    padding-top: -2px;
    padding-bottom: 10px;
    width: 40px;
    transition: 1s;
    outline: none !important;
    &:hover{
      color: black
    }
  }
}
.message-list {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

.message {
  width: fit-content;
  max-width: 250px;
  margin-top: 4px;
  padding: 4px 8px;
  word-wrap: break-word;
  background-color: $chat-message-bg-color;
  border-radius: 10px;
  &--right {
    flex: 1 1;
    order: 2;
    border: 0;
  }
  &--left {
    flex: 1 1;
    order: -1;
    border: 0;
  }
}
