 .footer__body{
 }

.footer{
	background-color: #ececec;
	width: inherit;
}
 .footer__row{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
 }

 .footer__main{
	flex: 0 0 50%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
 }
 .footer__colum{
	 display: flex;
	 flex-direction: column;
 }


 .colum__title{
	font-size: 18px;
	letter-spacing: 1px;
	color: #454855;
	font-weight: 700;
	font-family: "Source Sans Pro";
	text-align: left;
 }
 .colum__link>a{
	word-wrap: none;
	width: 172px;
	height: 165px;
	text-decoration: underline;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 27px;
	color: #828282;
	font-weight: 400;
	font-family: "Source Sans Pro";
 }

 .footer__asidee{
 }
 .feedback{
	margin-top: 0px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
 }
 .subscribe{
	display: flex;
	flex-flow: wrap;
	flex-direction: column;

	max-width: 270px;
	margin-right: 10px;
 }
 .subscribe__header{
	font-size: 18px;
	letter-spacing: 1px;
	color: #454855;
	font-weight: 700;
	font-family: "Source Sans Pro";
	text-align: left;

 }

 .footer__aside{
	 padding: 20px;
	 padding-top: 0;
 }
 .subscribe__header{
	font-size: 18px;
	letter-spacing: 1px;
	color: #454855;
	font-weight: 700;
	font-family: "Source Sans Pro";
	text-align: left;
	max-width: 250px;
 }
 .subscribe__action{
	border:none;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 0;
	border-radius: 20px;
 }
 .subscribe__button{
	 background-color: #03a8cb;
	 position: absolute;
	 border-top-right-radius: inherit;
	 border-bottom-right-radius: inherit;
	 padding: 0;
	 border:0;
	 margin:0;
 }
 .feedback__row{
	 max-width: 210px;
	 display: flex;
	 flex-direction: column;
 }
 .subscribe__text{
	font-size: 12px;
	letter-spacing: 0px;
	line-height: 23px;
	color: #ffffff;
	font-weight: 900;
	font-family: "Source Sans Pro";
 }
 .subsctibe-soc__header{
	font-size: 18px;
	letter-spacing: 1px;
	color: #454855;
	font-weight: 700;
	font-family: "Source Sans Pro";
	text-align: left;
 }
 .subscribe__input{
	margin: 0; 
	padding: 0;
	border: none;
	font-size: 18px;
	letter-spacing: 1px;
	color: #454855;
	font-weight: 700;
	font-family: "Source Sans Pro";
	text-align: left;
	max-width: 180px;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
 }

 @media all and (max-width:500px){
	.subscribe__action{
		border:none;
		margin-top: 20px;
		margin-bottom: 40px;
		padding: 0;
		border-radius: 20px;
		display: flex;
	 }
	 .subscribe__button{
		background-color: #03a8cb;
		border-top-right-radius: inherit;
		border-bottom-right-radius: inherit;
		padding: 0;
		border:0;
		margin:0;
	}
	.subscribe__input{
		margin: 0; 
		padding: 0;
		border: none;
		font-size: 18px;
		letter-spacing: 1px;
		color: #454855;
		font-weight: 700;
		font-family: "Source Sans Pro";
		text-align: left;
	
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
	 }
	 .subscribe__text{
		font-size: 12px;
		letter-spacing: 0px;
		line-height: 23px;
		color: #ffffff;
		font-weight: 900;
		font-family: "Source Sans Pro";
	 }
 }
