@import "shared/variables.scss";
.ad-editor {
  position: relative;
  display: flex;
  align-items: center;
  &__body {
    position: relative;
    left: -50%;
    min-width: 400px;
    height: fit-content;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  &__form {
    background-color: $sign-form-bg-color;
    border-radius: 20px;
    box-shadow: 4px 4px 70px 10px $sign-form-shadow-color;
    transition: 1.5s;
  }
  &__img-bg-wrapper {
    position: absolute;
    top: 100px;
    left: 50%;
  }
  &__img-bg {
    position: relative;
    left: -20%;
    z-index: -1;
  }
}
