.notifications {
  padding-left: 10px;
  color: white;
  &__list {
    width: 200px;
    margin: 0;
    padding: 0 20px;
  }
  &__item {
    display: block;
    word-wrap: break-word;
    background-color: white;
    border-radius: 80px;
    size: 1.3rem;
  }
}
