.featured-content {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.featured-content_column {
  position: relative;

  padding-bottom: 70px;
  padding-left: 20px;
  margin-left: 10px;
  margin-bottom: 80px;
  margin-top: 40px;

  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.featured-item {
  &__img {
    margin-left: -20px;
  }
  &__title {
    
  }
  &__text {
    
  }
  &__butt {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 54px;
    border: none;
    border-radius: 13px;
    background-color: #03a8cb;

    font-size: 1.2rem;
    line-height: 2.3rem;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
  }
}
