footer img{
    width: 50px;
}

.button-more{
    background-color:  rgb(3, 168, 203);
    border: none;
    width: 60px;
    border-radius: 30px;
    color: white;
}
h3 + h4{
    margin-top: 0;
}
h3{
    margin-bottom: 0;
}
