@media all and (min-width: 700px){
    
    .story-grid{
        display: grid;
        grid-template-columns: 270px auto;
        grid-template-areas: 
        "img text1" 
        "text2 text2"
        "but1 but1";
        grid-column-gap: 1vw;
    }
}
@media all and (max-width: 700px){
    
    .story-grid{
        display: grid;
        grid-template-areas: 
        "img" 
        "text1" 
        "text2"
        "but1";
        grid-gap: 2vw;
    }
}

.story-grid > img{
    grid-area: img;
}
.story-grid > .story__article1{
    grid-area: text1;
}
.story-grid > .story__article2{
    grid-area: text2;
}
.story-grid > button{
    grid-area: but1;
}