.act1__header__head-font {
  margin-top: 0;
  color: #454855;
  font-weight: 700;
  font-size: 28px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
}

.act1__header__text-font {
  color: #828282;
  font-weight: 300;
  font-size: 18px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
}

.act1__box__header h4 {
  margin-top: -2px;
  margin-bottom: 10px;
  color: #03a8cb;
  font-weight: 700;
  font-size: 16px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  text-align: left;
}

.act1__box__header article {
  margin-top: 0;
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  font-family: "Source Sans Pro";
  line-height: 23px;
  letter-spacing: 1px;
}

.act1__box__img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.act2__header {
  color: #454855;
  font-weight: 700;
  font-size: 28px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
}
.act2__subtitle {
  color: #828282;
  font-weight: 300;
  font-size: 18px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
}

.act2__main {
  margin-top: 45px;
}

.act2__quiz {
  width: fit-content;
  background-color: #f0f0f0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.quiz__title {
  width: 460px;

  height: 40px;
  padding: 0 0 0 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  background-color: #3b3e4a;
  filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.12));
}

.quiz__row1 {
  display: flex;
  flex-direction: row;
  width: 500px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.quiz__butt {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #03a8cb;
  border: 0;
  border-top-right-radius: inherit;
}
.quiz__butt-font {
  color: #ffffff;
  font-weight: 300;
  font-size: 34px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
}
.quiz__text {
  max-width: 490px;
  padding: 20px 0 10px 10px;
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
}

.question-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 500px;

  height: 40px;
  margin-top: 10px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.question-block > input {
  width: 400px;
  padding-left: 10px;
  color: #828282;
  font-weight: 400;
  font-size: 16px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  border: 0;
}
.question-block > button {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #03a8cb;
  border: 0;
  border-radius: 5px;
}

@media all and (max-width: 600px) {
  .act2__header {
    color: #454855;
    font-weight: 700;
    font-size: 28px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
  }
  .act2__subtitle {
    color: #828282;
    font-weight: 300;
    font-size: 18px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
  }

  .act2__quiz {
    width: fit-content;
    background-color: #f0f0f0;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
  }

  .quiz__title {
    width: 230px;

    height: 40px;
    padding: 0 0 0 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
    background-color: #3b3e4a;
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.12));
  }

  .quiz__row1 {
    display: flex;
    flex-direction: row;
    width: 270px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  .quiz__butt {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #03a8cb;
    border: 0;
    border-top-right-radius: inherit;
  }
  .quiz__butt-font {
    color: #ffffff;
    font-weight: 300;
    font-size: 34px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
  }
  .quiz__text {
    max-width: 260px;
    padding: 20px 0 10px 10px;
    color: #828282;
    font-weight: 400;
    font-size: 14px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
  }

  .question-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 270px;

    height: 30px;
    margin-top: 10px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
  }
  .question-block > input {
    width: 240px;
    padding-left: 10px;
    color: #828282;
    font-weight: 400;
    font-size: 12px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
    border: 0;
  }
  .question-block > button {
    width: 30px;
    height: 30px;
    background-color: #03a8cb;
    border: 0;
    border-radius: 5px;
  }
}

@media all and (max-width: 1180px) {
  .act2__main {
    margin-top: 20px;
  }
}
.main__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  margin-top: 3%;
}

.main__articles div {
  width: 270px;
  border: 1px solid rgb(230, 230, 230);
}

.article__action {
  margin-top: 23px;
  margin-bottom: 33px;
}

.article__header {
  color: #3b3e4a;
  font-weight: 700;
  font-size: 18px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
}

.article__text {
  width: 229px;
  height: 74px;
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  font-family: "Source Sans Pro";
  line-height: 23px;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.article__button__text {
  color: #ffffff;
  font-weight: 900;
  font-size: 12px;
  font-family: "Source Sans Pro";
  line-height: 23px;
  letter-spacing: 0px;
}
#main__grid__cont {
  display: grid;
  grid-gap: 2vw;
  grid-template-areas:
    "act1 act2"
    "stor1 stor2";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

#article {
  grid-area: article;
}

@media all and (max-width: 1180px) {
  #main__grid__cont {
    grid-gap: 8vw;
    grid-template-areas:
      "act1"
      "act2"
      "stor1"
      "stor2";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
#act1 {
  margin-bottom: 50px;
}
#act1 {
  display: grid;
  grid-area: act1;
  grid-gap: 2vw;
  grid-template-areas:
    "act1__header act1__header"
    "act1__img1  act1__img2"
    "act1__img3  act1__img4"
    "act1__img5  act1__img6";
  grid-template-rows: repeat(1fr, 4);
}
@media all and (max-width: 700px) {
  #act1 {
    grid-template-areas:
      "act1__header"
      "act1__img1"
      "act1__img2"
      "act1__img3"
      "act1__img4"
      "act1__img5"
      "act1__img6";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
#act1__header {
  grid-area: act1__header;
}
#act1__img1 {
  grid-area: act1__img1;
}
#act1__img2 {
  grid-area: act1__img2;
}
#act1__img3 {
  grid-area: act1__img3;
}
#act1__img4 {
  grid-area: act1__img4;
}
#act1__img5 {
  grid-area: act1__img5;
}
#act1__img6 {
  grid-area: act1__img6;
}
#act2 {
  grid-area: act2;
}
#stor1 {
  grid-area: stor1;
}
#stor2 {
  grid-area: stor2;
}

.act1-cont-member {
  display: grid;
  grid-template-columns: 80px 200px;
}
.actions {
  padding-top: 40px;
}
@media all and (min-width: 700px) {
  .story-grid {
    display: grid;
    grid-column-gap: 1vw;
    grid-template-areas:
      "img text1"
      "text2 text2"
      "but1 but1";
    grid-template-columns: 270px auto;
  }
}
@media all and (max-width: 700px) {
  .story-grid {
    display: grid;
    grid-gap: 2vw;
    grid-template-areas:
      "img"
      "text1"
      "text2"
      "but1";
  }
}

.story-grid > img {
  grid-area: img;
}
.story-grid > .story__article1 {
  grid-area: text1;
}
.story-grid > .story__article2 {
  grid-area: text2;
}
.story-grid > button {
  grid-area: but1;
}
.story__info {
  margin-top: 0;
  color: #454855;
  font-weight: 300;
  font-size: 18px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  text-align: left;
}
.story__header {
  margin-top: 0;
  color: #454855;
  font-weight: 700;
  font-size: 18px;
  font-family: "Source Sans Pro";
  letter-spacing: 1px;
  text-align: left;
}
.story__article1 {
  max-width: 500px;
  margin-bottom: 10px;
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  font-family: "Source Sans Pro";
  line-height: 23px;
  letter-spacing: 1px;
}

.story__article2 {
  max-width: 1000px;
  color: #828282;
  font-weight: 400;
  font-size: 14px;
  font-family: "Source Sans Pro";
  line-height: 23px;
  letter-spacing: 1px;
}

.story__button {
  width: 54px;
  height: 26px;
  background-color: #03a8cb;
  border: 0;
  border-radius: 13px;
}
.story__button-font {
  color: #ffffff;
  font-weight: 900;
  font-size: 12px;
  font-family: "Source Sans Pro";
  line-height: 23px;
  letter-spacing: 0px;
}
.story-grid__div {
  height: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.button-more {
  width: 60px;
  color: white;
  background-color: rgb(3, 168, 203);
  border: 0;
  border-radius: 30px;
}

.act1__header__head-font {
  margin-bottom: 0;
}
