.weather {
  &__body {
    padding: 50px;
    text-align: center;
    background-image: url("https://cs.pikabu.ru/post_img/big/2013/06/21/8/1371815532_1112005964.jpg");
  }

  &__input {
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    * {
      margin-left: 20px;
    }

    .lable {
      font-size: 4rem;
      text-align: left;
    }
    select {
      text-transform: uppercase;
      font-size: 5rem;
    }
    input {
      background-image: inherit;
      font-size: 5rem;
    }
  }
  &__city {
  }
  &__lan {
  }
  &__system {
  }
  &__update {
  }
  &__update-but {
  }
  &__result {
  }
  &__info {
  }
}
.info {
  &__error {
  }
  &__accept {
  }
  &__cityName {
  }
  &__accept-temp {
      
  }
  .accept-body{
    margin-top: 20px;
  }
}
.dateDiv {
}
.temperatureDiv {
}
