@import "shared/variables.scss";

.message-box {
  position: relative;
  z-index: 2;
  width: 100%;
  height: inherit;
  padding: 20px;
  font-size: 1rem;
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &__nothing {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    font-weight: 700;
    font-size: 3rem;
  }
  &__message-list {
    height: 400px;
    padding: 20px 10px;
    overflow-y: scroll;
    border-bottom: 1px solid #000;
  }

  &__controls {
    display: flex;
    align-content: center;
    margin-top: 10px;
    padding: 0 10px;
  }
  &__input {
    flex-grow: 1;
    height: 30px;
    margin-top: 3px;
    padding: 8px 8px 0 8px;
    line-height: 1rem;
    background: white;
    border: 0;
    border-radius: 12px;
  }
  &__send {
    width: 40px;
    padding-top: -2px;
    padding-bottom: 10px;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    border: 0;
    outline: none !important;
    cursor: pointer;
    transition: 1s;
    &:hover {
      color: black;
    }
  }
}
