@import "shared/variables.scss";
.submit {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  color: #eee;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: $submit-btn-bg;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s 0s ease-in-out;
  &:active {
    background-color: $submit-btn-bg;
  }
  &:hover {
    color: $submit-btn-color;
    box-shadow: 0 0 120px 120px $submit-btn-bg;
  }
}
