@import "shared/variables.scss";
.filter {
  display: flex;
  margin: 0;
  padding: 5px 10px;
  &__option {
  }
}

.filter-option {
  &__btn {
    margin: 0px 4px;
    padding: 2px 8px;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px outset black;
    border-radius: 12px;
    outline: none !important;
    cursor: pointer;
    &--selected {
      background-color: white;
      border: inset 2px gray;
    }
  }
}
