.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: fit-content;
  &--nothing {
    color: #22b573;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
  }
  &__ad-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 940px;
    height: 460px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 4px;
    padding-bottom: 17px;
    color: white;
    font-weight: 900;
    font-size: 3rem !important;
    background-color: #676ffe;
    border: 0;
    border-radius: 50%;
    outline: none !important;
    box-shadow: 0 0 10px 10px #676ffe;
    cursor: pointer;
    transition: all 0.5s 0s ease-in-out;
    &:hover {
      color: #05f4b7;
      box-shadow: 0 0 20px 20px #676ffe;
    }
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 940px;
    margin: 0 5px;
  }
  &__switcher {
    display: flex;
    align-items: center;
  }
}
