@import "shared/variables.scss";

.account-form-link {
  :hover {
    color: black !important;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  &__body {
    box-sizing: border-box;
    width: 320px;
    padding: 20px;
    padding-top: 0;
    background-color: transparent;
    border-radius: 20px;
  }
  &__input {
    position: relative;
    width: 100%;
    margin-top: 20px;
    opacity: 0;
    transition: all 1s 0s;
  }

  &__text {
    margin-top: 20px;
    text-align: center;
  }
  p {
    margin-bottom: 0;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
}
