.page {
  display: flex;
  flex-direction: row;
  &__btn {
    color: #676ffe;
    font-weight: 900;
    font-size: 3rem !important;
    border: 0;
    outline: none !important;
    cursor: pointer;
    &:hover {
      color: #05f4b7;
    }
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 940px;
    margin: 0 5px;
  }
  &__switcher {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}
