%fs-18ls-1 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.footer {
  &__body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ececec;
  }
  &__main {
    flex: 50%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__colum {
    margin-bottom: 40px;
    margin-left: 20px;
  }
  &__aside {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.colum {
  &__title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;

    color: #454855;
    font-weight: 700;
    text-align: left;
  }
  &__link {
    padding-top: 0.4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #828282;
    font-weight: 400;
  }
}
.feedback {
  &__subscribe-row {
  }
  &__row {
    width: 210px;
  }
}

.subscribe {
  &__header {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    max-width: 250px;
    color: #454855;
    font-weight: 700;
    text-align: left;
  }

  &__action {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0;

    border-radius: 20px;
  }
  &__input {
    margin: 0;
    padding: 0;
    border: none;

    width: 180px;

    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: #454855;
    font-weight: 700;
    text-align: left;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  &__button {
    position: absolute;
    padding: 0;
    border: 0;
    margin: 0;

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

    background-color: #03a8cb;
    background-color: #03a8cb;
  }

  &__button-text {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 2.3rem;
    color: #ffffff;
    font-weight: 900;
  }
}

.subsctibe-soc {
  &__header {
    padding: 0;
    text-align: left;

    max-width: 250px;
    font-size: 1.8rem;
    color: #454855;
    font-weight: 700;
  }
  &__imgs > img {
    width: 37px;
    height: 37px;
  }
}

@media all and (max-width: 500px) {
  .subscribe {
    &__header {
      text-align: center;
    }

    &__action {
      padding-left: 35px
    }

    &__input {
      width: 100px;
    }
  }

  .subsctibe-soc {
    &__header {
      text-align: center;
    }
    &__imgs{
      text-align: center;
    }
  }
}
