@import "shared/variables.scss";
.dropdown-menu1 {
  position: absolute;
  left: 0;
  z-index: 100;
  width: fit-content;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 20px;
  list-style: none;
  background-color: $doropdowb-menu-bg-color;
  background-clip: padding-box;
  border: 1px solid $doropdowb-menu-bg-color;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.dropdown-menu1-sw {
  right: 0;
  left: auto;
}

.dropdown-menu-sw:before {
  top: -16px;
  right: 9px;
  left: auto;
}
