.array-processing-tool {
  * {
    margin-top: 10px;
  }
  .exec {
    color: white;
    background-color: red;
    font-size: 2.5rem;
    border-color: orangered;
  }
  select {
    color: white;
    font-size: 2.5rem;
    background-color: red;
    border-color: orangered;
  }
  &__body {
    position: relative;
  }
  &__header {
  }
  &__tasks {
  }
  &__subtask {
  }
}

.sub-sum {
  &__body {
  }
  &__header {
  }
  &__data-input {
    border: 2px solid red;
  }
  &__o-natation-input {
  }
  &__exec {
  }
}

.search {
  &__body {
  }
  &__header {
  }
  &__data-input {
    border: 2px solid red;
  }
  &__type-input {
  }
  &__exec {
  }
}

.selevtion {
  &__body {
  }
  &__header {
  }
  &__data-input {
    border: 2px solid red;
  }
  &__exec {
  }
}
