@import "shared/variables.scss";

.chats {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 500px;
  background-image: linear-gradient(to right, #90dab9, #9197fe);
  border-radius: 20px;
  &__aside {
    align-self: stretch;
    width: 300px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  &__main {
    position: relative;
    width: 600px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__bg-img-wrappper {
    position: absolute;
    z-index: 0;
  }
}
