@import "../var.scss";

.header {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__menu {
    display: flex;
    align-self: stretch;
    justify-content: center;
    min-height: 80px;
    background-color: $back-blue;
  }
}
.logo {
  &__icon {
    text-align: center;
  }
  &__text {
    margin-top: 8px;
  }
  &__title {
    padding: 0;
    padding-left: 2px;
    color: $font-b;
    font-weight: 700;
    font-size: 4.4rem;
    letter-spacing: 0.35rem;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle {
    margin-top: -5px;
    padding-top: 0;
    color: $font-g;
    font-weight: 300;

    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }
}
.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 21px 0 21px;
  }
  &__link {
    color: $font-w;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $font-g;
    }
  }
}
