.ads-list {
  width: inherit;
  height: fit-content;
  &__element {
    margin-top: 10px;
  }
  &__search {
    position: relative;
    top: -10px;
    width: 350px;
    margin-left: 40px;
  }
  &__options-row {
    display: flex;
    justify-content: center;
  }
}
