$background-color: #edb021 !default;
$nav-bar-background-color: #6a655d !default;
$app-background-color: #1c222a !default;

$btn-bg: #825b00 !default;

$submit-btn-bg: #1c222a !default;

$logout-btn-bg: #825b00 !default;
$logout-btn-color: white !default;

$short-ad-bg-color: #edb021 !default;

$input-invalid-bg-color: lightpink !default;
$input-valid-bg-color: rgb(232, 240, 254) !default;
$input-valid-color: #1c222a !default;

$more-btn-bg-color: #825b00 !default;
$more-btn-color: white !default;

$account-info-bg-color: #dcdcdc !default;

$ad-main-bg-color: #edb021 !default;
$ad-main-btn-bg-color: #825b00 !default;
