.header {
  &__box {
    position: relative;
    text-align: center;
  }
  &__logo {
    margin-bottom: 15px;
  }
  &__menu {
    margin-top: 15px;
    background-color: #03a8cb;
  }
}

.logo {
  &__icon {
    img {
      width: 89px;
      height: 89px;
      border-radius: 45px;
    }
  }
  &__title {
  }
  &__subtitle {
    margin-top: 20px;
    color: #828282;
    font-weight: 300;

    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  max-width: 1168px;
  min-height: 80px;
  padding-right: 20%;
  padding-left: 20%;
  border-radius: 5px;
  filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.12));

  &__item {
    margin-left: 10px;
    color: #ffffff;
    font-weight: 700;

    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
