@import "../var.scss";

.footer {
  &__container {
    background-color: #ececec;
  }
  &__columns {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 55px;
    padding-left: 10px;
  }
  &__column {
    width: 160px;
    margin-top: 20px;
    margin-right: 40px;
  }
  &__subsctibe {
    margin-top: 20px;
    margin-right: 40px;
  }
  &__refs {
    max-width: 230px;
    margin-top: 20px;
  }
}
.column {
  &__header {
    color: #454855;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  &__hrefs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  &__href {
    color: #828282;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
  }
}

.subsctibe {
  &__header {
    max-width: 260px;
    color: #454855;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  &__content {
    max-width: 290px;
  }
}
.subscribe-form {
  :hover {
    background-color: gray;
    border: 0;
  }

  &__inputs {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    border-radius: 20px;
  }
  &__input {
    width: 185px;
    height: 36px;
    margin: 0;
    padding: 0;
    border: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    outline: none;
    &:focus {
      background-color: burlywood;
    }
  }
  &__submit {
    width: 83px;
    height: 36px;
    margin: 0;
    padding: 0;
    color: $font-w;
    color: #ffffff;
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: $back-blue;
    border: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    outline: none;
  }
}

.social-refs {
  &__header {
    color: #454855;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  &__icons {
    display: flex;
    margin-top: 25px;
  }
  &__social-icon {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    text-align: center;
    background-color: $back-blue;
    border-radius: 18px;
    &:hover {
      background-color: grey;
    }
    i {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #ffffff;
      font-size: 18px;
    }
  }
}

@media all and (max-width: 1150px) {
  .footer {
    &__column {
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .columns {
      justify-content: center;
    }

    &__subsctibe {
      margin: 0 auto;
    }
    &__refs {
      margin: 0 auto;
    }
  }
}
@media all and (max-width: 640px) {
  .subsctibe {
    &__content {
      max-width: 200px;
    }
  }
  .subscribe-form {
    &__inputs {
      position: relative;
      width: fit-content;
    }
    &__submit {
      position: absolute;
      left: 0;
    }
  }
}
