@import "shared/variables.scss";
#cube-loader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
  & .caption {
    margin: 0 auto;
  }
  .cube-loader {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 49px;
    transform: rotateZ(45deg);

    & .cube {
      position: relative;
      float: left;
      width: 50%;
      height: 50%;
      transform: rotateZ(45deg);
      transform: scale(1.1);
    }
    & .cube:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $loader-bg-color;
      box-shadow: 0 0 50px 5px $loader-shdow-color;
      transform-origin: 100% 100%;
      animation: cube-loader 2.76s infinite linear both;
      content: "";
    }
    & .loader-2 {
      transform: scale(1.1) rotateZ(90deg);
    }
    & .loader-3 {
      transform: scale(1.1) rotateZ(180deg);
    }
    & .loader-4 {
      transform: scale(1.1) rotateZ(270deg);
    }
    & .loader-2:before {
      animation-delay: 0.35s;
    }
    & .loader-3:before {
      animation-delay: 0.69s;
    }
    & .loader-4:before {
      animation-delay: 1.04s;
    }
  }
}

@keyframes cube-loader {
  0%,
  10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
